@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: white;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(24, 38, 48);
  text-align: center;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game {
  border: 0px;
  background-size: 100% 100%;
}

.links {
  position: relative;
}
